/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-heart {
  -webkit-transform: scale(1.1, 1.3);
          transform: scale(1.1, 1.3);
}

/* Variables */
/* Mixins */
/* Typography */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
}

body a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

/* Layout */
.how {
  margin: 2rem;
}

.footer {
  padding: 2rem;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.header > button {
  border: none;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > button > a:hover {
  color: #ff79da;
}

.header > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.header__inv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Presentation - welcome page */
.presentation {
  text-align: center;
  background-color: #f2f2f2;
}

.presentation__city {
  color: #595959;
  background-color: #d9d9d9;
  padding: 1rem;
  -webkit-box-shadow: inset 0 3px 2px #a6a6a6;
          box-shadow: inset 0 3px 2px #a6a6a6;
}

.presentation__city > i {
  margin-right: 1%;
}

.presentation__container {
  -webkit-box-shadow: 0 0 3px 3px #f5f5f5;
          box-shadow: 0 0 3px 3px #f5f5f5;
  padding: 1.3rem;
  line-height: 1.2;
  padding: 3rem 3.3rem 3rem 3.3rem;
}

.presentation__container > * {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.presentation__click {
  color: white;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 35px;
  padding: 1.3rem 2rem 1.3rem 2rem;
  -webkit-box-shadow: 0 3px 6px 2px #bfbfbf;
          box-shadow: 0 3px 6px 2px #bfbfbf;
  display: inline-block;
  cursor: pointer;
}

.presentation__click:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* How to - welcome page */
.how .fa-ul {
  margin-left: unset;
}

.how__lines {
  padding: 1rem;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 3px 6px 2px #bfbfbf;
          box-shadow: 0 3px 6px 2px #bfbfbf;
  border-radius: 20px;
  font-weight: bolder;
  margin: 1.5rem 0 1.5rem 0;
}

.how__lines:hover {
  background-color: #e4d5f6;
}

.how__lines:hover__icon {
  color: #9356dc;
}

.how__lines .fa-stack {
  color: white;
}

.how__lines .fa-stack-2x {
  color: #9356dc;
}

.how__icon {
  position: relative;
  color: #595959;
}

.how__txt {
  margin-left: 3%;
  vertical-align: middle;
}

/* Restaurants - welcome page */
.restaurants {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 1.5rem 3rem 1.5rem;
}

.restaurants .resto {
  -webkit-box-shadow: 0 3px 6px 2px #bfbfbf;
          box-shadow: 0 3px 6px 2px #bfbfbf;
  border-radius: 20px;
  color: black;
  height: 17rem;
  position: relative;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.restaurants .resto__new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.4rem;
  color: #278870;
  background-color: #99e2d0;
  -webkit-box-shadow: 0 0px 2px 0px #f5f5f5;
          box-shadow: 0 0px 2px 0px #f5f5f5;
}

.restaurants .resto__pic {
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.restaurants .resto__description {
  position: relative;
  left: 4%;
  line-height: 1.4;
}

.restaurants .resto__icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
  background-size: contain;
}

.restaurants .resto__icon > i {
  line-height: 1.7;
  padding-right: 0.1em;
}

.restaurants .resto__icon > i:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-size: contain;
}

/* Footer */
.footer {
  background-color: #262626;
}

.footer > ul {
  color: white;
  margin-left: auto;
}

.footer > ul li a {
  color: white;
}

.footer__icon {
  margin-left: -0.5rem;
}

.footer__icon > .fa-li {
  position: unset;
}

.logo--footer {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 7rem;
}

/* Banner - menu pages */
.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 14rem 7rem;
      grid-template-rows: 14rem 7rem;
}

.banner__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 130%;
}

.banner__title {
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2.5rem;
  padding-left: 1rem;
}

.banner__title > i {
  line-height: 1.7;
  padding-right: 0.1em;
}

.banner__title > i:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  background-size: contain;
}

/* Menu */
.menu {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem 3.5rem 1rem;
}

.menu > *:not(.click) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.menu > article > p:after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: 3px solid #99e2d0;
}

.menu > .click {
  text-align: center;
}

.menu__section {
  -webkit-box-shadow: 0 3px 6px 2px #bfbfbf;
          box-shadow: 0 3px 6px 2px #bfbfbf;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  line-height: 1.4;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11fr 0fr;
      grid-template-columns: 11fr 0fr;
      grid-template-areas: "name name" "detail price";
}

.menu__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
}

.menu__detail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: detail;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__price {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: price;
}

.menu__click {
  color: white;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 35px;
  padding: 1.3rem 2rem 1.3rem 2rem;
  -webkit-box-shadow: 0 3px 6px 2px #bfbfbf;
          box-shadow: 0 3px 6px 2px #bfbfbf;
  display: inline-block;
  cursor: pointer;
  width: 65%;
}

.menu__click:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.menu__icon {
  display: none;
}
/*# sourceMappingURL=style.css.map */